body {
}

.lbl {
    font-family: 'Microsoft JhengHei UI';
    color: white;
    margin: 2em;
}

.tbl{
    margin-top:2.5em;
}

.con {
    margin-top: 4.4em;
    float: left;
}

.txt {
    margin: 2em;
    border: none;
    border-bottom: 0.2em solid rgb(139, 139, 139);
    background: none !important;
    color: white;
    border-radius: 0.6em;
    padding: 0.5em;
    margin-left: 1em;
    font-family: 'Microsoft JhengHei UI';
    font-weight: lighter;
}

    .txt:hover {
        border-bottom-color: rgb(60, 57, 1);
    }

    .txt:focus {
        border-bottom-color: rgb(255, 242, 0); /*rgb(104, 255, 0);*/
        border-bottom-style: solid;
        outline: none;
    }

.btn {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-right: 0.15em solid rgb(255, 242, 0);
    border-left: 0.15em solid rgb(255, 242, 0);
    padding: 0.75em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 0.4em;
    color: rgb(139, 139, 139);
    font-family: 'Microsoft JhengHei UI';
    margin-left: 2.3em;
    background-color: rgba(255,255,255,0.15);
}

    .btn:hover {
        background-color: rgba(255, 242, 0, 0.3);
    }

    .btn:focus {
        background-color: rgb(255, 242, 0);
        outline: none;
        color: black;
        font-weight:bolder;
    }

.val {
    font-family: 'Microsoft JhengHei UI';
    margin-left: 1.4em;
    font-size: 0.85em;
    color: #e32eff
}