html {
    /*background: rgb(0, 0, 0);*/
    background: linear-gradient(to left, rgb(40, 40, 40), rgb(20,20,20) );
}
body {
    /*background-color: rgb(0, 0, 0);
    background-image: url("Images/Student_Signup_BG.jpg");
    background-repeat: no-repeat;
    background-size: 90em;*/
}
#lblTitle {
    color: white;
    font-family: 'Microsoft JhengHei UI';
    font-size: 1.45em;
    font-weight :lighter ;
    /*padding: 0.1em 0em 0.1em 0.2em;*/
    padding-left: 0.2em;
    float:left;
    /*margin-left: 8em;*/
    /*width: 814px;*/
}
/*#btnProfile {
    margin-left: 80em;
}*/
header {
    /*background-color:rgba(76, 255, 0, 0.07);*/;
    width: 100%;
    float:left;
    top:0px;
    left:0px;
    position:absolute;
    /*padding:0.1em 0em 0.1em 1.5em;*/
    height: 7em;
    border-bottom: 0.2em solid transparent;
    box-shadow: 0px 5px 9px rgba(0,0,0,0.6);
    background: linear-gradient(to right, rgb(81, 199, 3), rgb(18, 44, 1));
}
footer {
    float: left;
    height: 3.5em;
    min-width: 99.3%;
    padding: 5px;
    border-top: 0.2em solid transparent;
    box-shadow: 0px -5px 9px rgba(0,0,0,0.6);
    /*background: linear-gradient(to left, rgb(12, 30, 0), rgb(8, 20, 0));*/
    position: absolute;
    bottom: 0;
    left: 0px;
}
#lblCopyright {
    font-family: 'Microsoft JhengHei UI';
    color: Black;
    text-shadow: 0.07em 0.09em 0.1em rgb(104, 255, 0);
    margin-top:0.25em;
    padding-right: 1em;
    font-size: 1.3em;
    float:right;
    /*background-color:cyan;*/
}
.label {
    color: rgb(255, 255, 255);
    float:left;
    font-family: 'Microsoft JhengHei UI';
    font-size: 2.3em;
    color: rgb(104, 255, 0);
    margin-top: 3.2em;
}
#lblUser{
    margin-left:0.5em;
}
#lblWelcome{
    margin-left:0.3em;
}
#lblProgressDiscription{
    color:#FFFFFF;
    font-family:'Microsoft JhengHei UI';
    font-size: 1.1em;
    margin-top: 3.4em;
    margin-left:0.8em;
}
textarea {
    resize: none;
    /*width: 83em;*/
    transition: height 0.3s ease-in-out;
    height: 3em;
    padding: 0em 0.5em;
    width: 98%;
    border: none;
    font-family: 'Microsoft JhengHei UI';
    font-size: 1em;
    color: #FFFFFF;
    border-radius: 0.5em;
    /*border-bottom-right-radius: 10em;
    border-top-left-radius: 10em;
    border-bottom-left-radius: 0.5em;
    border-top-right-radius: 0.5em;*/
    background-color: rgba(255, 255, 255, 0.20);
    border-top: 0.2em solid transparent;
    border-bottom: 0.2em solid transparent;
    border-left: 0.04em solid transparent;
    border-right: 0.04em solid transparent;
    margin-left: 0.5em;
}
    textarea:hover {
        background-color: rgba(104, 255, 0, 0.14);
        border-top: 0.2em solid transparent;
        border-bottom: 0.2em solid transparent;
        border-left: 0.04em solid transparent;
        border-right: 0.04em solid transparent;
        height: 15.61em;
        /*transition:border 1s ease-in-out;*/
    }
    textarea:focus {
        outline: none;
        background-color: rgba(104, 255, 0, 0.08);
        border-bottom-color: rgb(104, 255, 0);
        border-top-color: rgb(104, 255, 0);
        border-left: 0.04em solid rgb(104, 255, 0);
        border-right: 0.04em solid rgb(104, 255, 0);
        height: 15.61em;
    }
        /*textarea:focus ~ #btnConfirm, textarea:hover ~ #btnConfirm {
            margin-top: 0em;
        }*/
    /*textarea:hover ~ html {
        background: linear-gradient(to left, rgb(0, 185, 48), rgb(17, 34, 21));
    }*/
::placeholder{
    color:#b1b1b1;
}

textarea:hover::-webkit-input-placeholder {
    color: rgb(104, 255, 0);
}
textarea:focus::-webkit-input-placeholder {
    color: rgba(104, 255, 0, 0.6);
}
#btnConfirm {
    margin-left: 32em;
    border: none;
    border-right: 0.15em solid rgb(104, 255, 0);
    border-left: 0.15em solid rgb(104, 255, 0);
    padding: 0.7em 2.5em;
    font-family: 'Microsoft JhengHei UI';
    font-weight: bold;
    padding: 0.5em;
    padding-left: 0.9em;
    padding-right: 0.9em;
    border-radius: 0.4em;
    text-decoration: none;
    transition: background-color 1s ease;
    background-color: rgba(255, 255, 255, 0.15);
    color: rgb(139, 139, 139);
    font-size: 1.2em;
    /*margin-bottom: 0.95em;
    margin-top: 10.5em;*/
    bottom: 5em;
    position:absolute;
}

    #btnConfirm:hover {
        /*border-top: 0.15em solid rgb(19, 65, 1);
        border-bottom: 0.15em solid rgb(19, 65, 1);*/
        background-color: rgba(104, 255, 0, 0.10);
        color:white;
    } 

    #btnConfirm:focus {
        color: #000000;
        /*border-top: 0.15em solid rgb(104, 255, 0);
        border-bottom: 0.15em solid rgb(104, 255, 0);*/
        outline: none;
        background-color: rgb(104, 255, 0);
    }
#btnHistory {
    margin-left:47em;
}
#btnHistory, #btnViewInfo {
    font-size:0.5em;
}
.bt {
    margin: 1em;
    padding: 0.6em;
    padding-left: 1em;
    padding-right: 1em;
    border: 0.15em hidden #FFFFFF;
    border-right: 0.15em solid rgb(104, 255, 0);
    border-left: 0.15em solid rgb(104, 255, 0);
    border-top: 0.15em solid rgba(50, 50, 50,0);
    border-bottom: 0.15em solid rgba(50, 50, 50,0);
    font-family: 'Microsoft JhengHei UI';
    font-weight: lighter;
    border-radius: 0.4em;
    background-color: rgba(255, 255, 255, 0.00);
    color: rgb(139, 139, 139);
}

    .bt:hover {
        border-top: 0.15em solid rgb(38, 88, 3);
        border-bottom: 0.15em solid rgb(38, 88, 3);
    }

    .bt:focus {
        color: #FFFFFF;
        border-top: 0.15em solid rgb(104, 255, 0);
        border-bottom: 0.15em solid rgb(104, 255, 0);
        outline: none;
    }
.btnx {
    margin-left: 2em;
    margin-left: 2em;
    font-size: 1em;
    float: left;
    background-color: rgba(0,0,0,0);
    border-radius: 2em;
    border: 0.15em solid rgba(0,0,0,0);
    padding: 0.5em 1.2em;
    border-right-color: rgb(104, 255, 0);
    border-left-color: rgb(104, 255, 0);
    font-family: 'Microsoft JhengHei UI';
    color: rgb(125,125,125);
}

    .btnx:hover {
        border-top-color: rgb(38, 88, 3);
        border-bottom-color: rgb(38, 88, 3);
    }

    .btnx:focus {
        color: white;
        border-top-color: rgb(104, 255, 0);
        border-bottom-color: rgb(104, 255, 0);
        outline: none;
    }
