html {
    /*background: rgb(0, 0, 0);*/
    background: linear-gradient(to left, rgb(40, 40, 40), rgb(20,20,20) );
}

body {
    /*background-color: rgb(0, 0, 0);
    background-image: url("Images/Student_Signup_BG.jpg");
    background-repeat: no-repeat;
    background-size: 90em;*/
}
#lblTitle {
    color: white;
    font-family: 'Microsoft JhengHei UI';
    font-size: 1.45em;
    font-weight: lighter;
    padding: 0.1em 0em 0.1em 0.2em;
}

header {
    /*background-color:rgba(76, 255, 0, 0.07);*/;
    width: 100%;
    float: left;
    top: 0px;
    left: 0px;
    position: absolute;
    /*padding:0.1em 0em 0.1em 1.5em;*/
    height: 7em;
    border-bottom: 0.2em solid transparent;
    box-shadow: 0px 5px 9px rgba(0,0,0,0.6);
    background: linear-gradient(to right, rgb(81, 199, 3), rgb(18, 44, 1));
}

footer {
    float: left;
    height: 3.5em;
    min-width: 99.3%;
    padding: 5px;
    border-top: 0.2em solid transparent;
    box-shadow: 0px -5px 9px rgba(0,0,0,0.6);
    /*background: linear-gradient(to left, rgb(12, 30, 0), rgb(8, 20, 0));*/
    position: absolute;
    bottom: 0;
    left: 0px;
}

.label {
    color: rgb(255, 255, 255);
    font-family: 'Microsoft JhengHei UI';
    font-size: 2.3em;
}

#lblCopyright {
    font-family: 'Microsoft JhengHei UI';
    color: Black;
    text-shadow: 0.07em 0.09em 0.1em rgb(104, 255, 0);
    margin-top: 0.25em;
    padding-right: 1em;
    font-size: 1.3em;
    float: right;
    margin-top: 0.7em;
    /*background-color:cyan;*/
}

#btnHistory {
    margin-left: 47em;
}

#btnHistory, #btnHome {
    font-size: 0.5em;
}

.bt {
    margin: 1em;
    padding: 0.6em;
    padding-left: 1em;
    padding-right: 1em;
    border: 0.15em hidden #FFFFFF;
    border-right: 0.15em solid rgb(104, 255, 0);
    border-left: 0.15em solid rgb(104, 255, 0);
    border-top: 0.15em solid rgba(50, 50, 50,0);
    border-bottom: 0.15em solid rgba(50, 50, 50,0);
    font-family: 'Microsoft JhengHei UI';
    font-weight: lighter;
    border-radius: 0.4em;
    background-color: rgba(255, 255, 255, 0.00);
    color: rgb(139, 139, 139);
}

    .bt:hover {
        border-top: 0.15em solid rgb(38, 88, 3);
        border-bottom: 0.15em solid rgb(38, 88, 3);
    }

    .bt:focus {
        color: #FFFFFF;
        border-top: 0.15em solid rgb(104, 255, 0);
        border-bottom: 0.15em solid rgb(104, 255, 0);
        outline: none;
    }

/*.view {
    font-family: 'Microsoft JhengHei UI';
    width: 83em;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}

.alt {
    background-color: rgba(104, 255, 0, 0.25);
}*/
.btnx {
    margin-left: 2em;
    margin-left: 2em;
    font-size: 1em;
    float: left;
    background-color: rgba(0,0,0,0);
    border-radius: 2em;
    border: 0.15em solid rgba(0,0,0,0);
    padding: 0.5em 1.2em;
    border-right-color: rgb(104, 255, 0);
    border-left-color: rgb(104, 255, 0);
    font-family: 'Microsoft JhengHei UI';
    color: rgb(125,125,125);
}

    .btnx:hover {
        border-top-color: rgb(38, 88, 3);
        border-bottom-color: rgb(38, 88, 3);
    }

    .btnx:focus {
        color: white;
        border-top-color: rgb(104, 255, 0);
        border-bottom-color: rgb(104, 255, 0);
        outline: none;
    }

.btnx {
    margin-top: 0.6em;
}

.lbl, .lbl2, .lbl3, .lbl4 {
    color:white;
    font-size:1em;
    font-family:'Microsoft JhengHei UI';
    font-weight:lighter;
}

.lbl3, .lbl4 {
    font-size:1.3em;
}

.lbl2, .lbl4 {
    color: rgb(104, 255, 0);
}